@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1268px;
    margin: 0 auto;
}

@import './blocks/button/btn';
@import './blocks/title/title';
@import './blocks/nav/nav';
@import './blocks/first/first';
@import './blocks/find/find';
@import './blocks/works/works';

@import './base/media/media';
