@media(max-width: 1440px) {
    .find {
        grid-template-columns: 580px 601px;
        column-gap: 80px;
        img {
            width: 85%;
            margin-top: 40px;
        }
    }
}

@media(max-width: 1200px) {
    .container {
        width: 960px;
    }
    nav {
        ul {
            li {
                font-size: 16px;
            }
            li:nth-child(4) {
                flex: 1.2
            }
            .lastLi {
                margin-right: 0;
            }
            .logo {
                flex: 3;
            }
        }
    }
    .btn {
        &_nav {
            width: 137px;
            margin-right: 20px;
            height: 40px;
        }
    }
    .first {
        padding: 220px 76px;
        &__women {
            right: 26px;
            top: 227px;
        }
        &__opportunities {
            &__item {
                h3 {
                    font-size: 25px;
                }
                p {
                    font-size: 20px;
                }
            }
        }
    }
    .find {
        grid-template-columns: 1fr;
        grid-template-rows: unset;
        img {
            display: none;
        }
    }
    .works {
        &__card {
            &__title {
                font-size: 26px;
                line-height: 40px;
            }
            &__descr {
                font-size: 20px;
                line-height: 30px;
            }
            &__price {
                &__bid {
                    font-size: 18px;
                    line-height: 25px;
                }
                &__link {
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
    }
    .category {
        &__wrapper {
            grid-template-columns: repeat(3, 292px);
        }
    }
}

@media(max-width: 993px) {
    .container {
        width: 750px;
    }
    nav {
        ul {
            margin-top: 22px;
            .logo {
                display: none;
            }
        }
    }
    .btn {
        &_nav {
            font-size: 18px;
        }
        &_freelancer {
            width: 230px;
            height: 60px;
            font-size: 20px;
        }
    }
    .first {
        padding: 220px 61px 70px;
        &__text {
            height: auto;
            h1 {
                font-size: 50px;
                line-height: 61px;
            }
            p {
                font-size: 20px;
                line-height: 30px;
            }
        }
        &__women {
            display: none;
        }
        &__freelance {
            &__search {
                input {
                    height: 60px;
                    width: 100%;
                    padding: 20px 20px;
                }
                button {
                    top: 5px;
                }
            }
        }
        &__opportunities {
            margin-top: 100px;
            padding: 41px 55px;
            height: 300px;
            &__item {
                h3 {
                    font-size: 23px;
                }
                p {
                    font-size: 18px;
                }
            }
        }
    }
    .find {
        .title_find {
            margin-top: 0;
            font-size: 36px;
        }
        &__descr {
            font-size: 20px;
        }
    }
    .works {
        .title {
            &_works {
                font-size: 36px;
                line-height: 30px;
            }
        }
        &__latest {
            font-size: 30px;
        }
        &__wrapper {
            grid-template-columns: repeat(2,1fr);
            row-gap: 30px;
            column-gap: 50px;
        }
    }
    .category {
            .title {
                font-size: 36px;
                line-height: 50px;
            }
        &__wrapper {
            grid-template-columns: repeat(2, 292px);
            justify-content: space-around;
            column-gap: unset;
        }
    }
}

@media(max-width: 769px) {
    nav {
        display: none;
    }
    .container {
        width: 560px;
    }
    nav {
        ul {
            padding-left: 4px;
            li {
                a {
                    span {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
    .first {
        padding: 220px 32px 60px;
        &__text {
            height: auto;
            width: 490px;
            h1 {
                font-size: 40px;
                line-height: 50px;
            }
            p {
                font-size: 20px;
                line-height: 30px;
            }
        }
        &__freelance {
            flex-direction: column;
            justify-content: space-between;
            height: 160px;
            width: auto;
            margin-top: 45px;
        }
        &__opportunities {
            height: 700px;
            margin: 40px auto;
            flex-direction: column;
            align-items: center;
            width: 370px;
            &__item {
                h3 {
                    font-size: 20px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
    }
    .works {
        &__wrapper {
            column-gap: 15px;
        }
    }
    .category {
        .title {
            font-size: 36px;
            line-height: 50px;
        }
        &__wrapper {
            grid-template-columns: repeat(1, 292px);
            margin-top: 55px;
        }
        &__btn {
            margin: 60px auto 180px auto;
            width: 210px;
            height: 65px;
            font-size: 23px;
            line-height: 38px;
        }
    }
}

@media (max-width: 577px) {
    .container {
        width: 100%;
        padding: 2px;
    }
    .btn {
        &_nav {
            font-size: 16px;
        }
        &_freelancer {
            width: 170px;
            height: 40px;
            font-size: 15px;
        }
    }
    .first {
        padding: 65px 2px 60px;
        &__text {
            width: 300px;
            h1 {
                font-size: 25px;
                line-height: 30px;
                margin-top: 40px;
                margin-bottom: 10px;
            }
            p {
                font-size: 15px;
                line-height: 20px;
                margin-top: 0;
            }
        }
        &__freelance {
            margin-top: 25px;
            &__search {
                width: 100%;
            }
        }
        &__opportunities {
            width: 300px;
        }
    }
    .find {
        &__text {
            .title_find {
                text-align: center;
                font-size: 25px;
                line-height: 30px;
            }
        }
        &__descr {
            text-align: center;
            font-size: 15px;
            line-height: 20px;
        }
    }
    .works {
        .title {
            &_works {
                font-size: 25px;
                line-height: 30px;
            }
        }
        &__latest {
            font-size: 20px;
        }
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__card {
            &__title {
                font-size: 20px;
                line-height: 30px;
            }
            &__descr {
                font-size: 16px;
                line-height: 22px;
            }
            &__price {
                justify-content: space-around;
            }
        }
    }
    .category {
        &__wrapper {
            margin-top: 35px;
        }
        .title {
            font-size: 25px;
            line-height: 30px;
        }
        &__btn {
            margin: 60px auto 80px auto;
            width: 200px;
            height: 60px;
            font-size: 20px;
            line-height: 36px;
        }
    }
}

